version: '2'
services:
  customer:
    image: REPLACE-CUSTOMER-IMAGE
    ports:
      - "8181:8080"
    environment:
      DT_TAGS: "app=keptn-orders"
networks:
  default:
    external:
      name: TO_REPLACE