version: '2'
services:
  catalog:
    image: REPLACE-CATALOG-IMAGE
    ports:
      - "8182:8080"
    environment:
      DT_TAGS: "app=keptn-orders"
networks:
  default:
    external:
      name: TO_REPLACE